* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: max-content; */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    padding-right: 1.25rem;
}

.nav-link a {
    text-decoration: none;
    color: #000;
}

.nav-link .hambuger {
    display: none;
}

.hero-page {
    background-image: url(/image/hero-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
    width: 100%;
    /* padding-left: 20px; */
    /* height: 500px; */
}

.hero-text {
    background-color: #fff;
    /* margin: 150px 0px 0px 30px; */
    /* margin-right: 70%; */
    max-width: max-content;
    padding: 1.25rem;
    border-radius: 0 1.875rem 1.875rem 0;
}

.hero-text h2 {
    line-height: 1em;
    padding-bottom: 0.625rem;
    font-size: 2.5rem;
    /* font-family: ; */
}

.hero-text p {
    font-weight: bold;
    padding-top: 0.625rem;
    max-width: 20rem;
}

.future {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* max-width: ; */
    width: 90%;
    margin: auto;
    background-color: #f2f0f2;
    border-radius: 50px;
    margin-top: 4rem;
    gap: 2rem;
    margin-bottom: 4rem;
}

.img-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    max-width: 40%;
}

.pop {
    max-width: 100%;
    /* outline: 2px solid yellow; */
}

.future-text {
    width: 100%;
    /* margin-right: 3rem; */

    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    /* width: max-content; */

}

.future-text h3 {
    font-size: 2.5rem;
    padding-bottom: 0.625rem;
}

.features {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.features-card {
    background-color: rgba(226, 237, 236, 0.575);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3125rem;
    width: 12.5rem;
    height: 12.5rem;
    padding: 0.625;
    border-radius: 1.25rem;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin: 2rem;
}

.features-card {
    background-color: #e2f1e8;
    /* width: 305; */
}



/* style for a tablet screen */

@media(max-width: 768px) {
    .future-text p {
        padding-right: 2rem;
    }

}


/* STYLE FOR A MOBILE SCREEN  */

@media(max-width: 425px) {
    .nav-link a {
        display: none;
    }

    .nav-link .hambuger {
        display: block;
    }

    .hero-page {
        padding-top: 2rem;
        padding-bottom: 25rem;
    }

    .future {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .img-gallery {
        max-width: 100%;
    }

    .red {
        border-radius: 0 40px 0 0;
    }

    .future-text p {
        max-width: 22rem;
        padding: 0 0 2rem 0;
    }

    .cards {
        flex-direction: column;
    }

    .features-card {
        width: 80%;
        /* align-content: first baseline; */
    }
}


 /* styling for mobile medium  */

@media(max-width: 375px) {

    .future-text{
        padding: 1rem;
    }
    
    .future-text h3{
        font-size: 1.5rem;
    }
} 